:root {
  --primary: #1c7bdf;
  --border-color: rgba(128, 128, 128, 0.197);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 320px;
  height: 220px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 30px;
  color: var(--primary);
}

.main-title {
  font-weight: 400;
  font-size: 35px;
}

.input-number-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 500;
  gap: 10px;
  position: relative;
}

.error-message {
  position: absolute;
  bottom: -16px;
  font-size: 12px;
}

.input-number {
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 4px;
}

.input-number::placeholder {
  color: rgba(128, 128, 128, 0.775);
  font-weight: bold;
}

.input-number:focus {
  outline: 1px solid var(--primary);
  border-color: transparent;
}

.submit-button {
  justify-self: flex-end;
  border: 3px solid var(--primary);
  padding: 3px 10px;
  border-radius: 8px;
  background-color: transparent;
  color: var(--primary);
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-wrapper {
  margin-top: 20px;
  text-align: right;
}
